:root {
    --white:hsl(0,0%,100%);
    --black:hsl(240,67%,8%);
    --dark-gray:hsl(240,17%,26%);
    --gray:hsl(240,6%,54%);
    --bluish:hsl(194,48%,49%);
    --orange:hsl(33,82%,61%);
    --purple:hsl(263,67%,51%);
    --red-500:hsl(10,63%,51%);
    --red-600:hsl(2,68%,53%);
    --red-400:hsl(17,73%,46%);
    --greenish:hsl(169,73%,44%);
    --blue:hsl(222,87%,56%);
}
*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Antonio', sans-serif;
    background-color: var(--black);
    background-image: url('../images/background-stars.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a {
    text-decoration: none;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.header {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsla(0,0%,59%,0.4);
}
.logo {
    color: var(--white);
    font-size: 2.3331rem;
}
.header-menu {
    display: none;
}
.main {
    position: relative;
}
.mobile-overview-section {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid hsla(0,0%,59%,0.4);
}
.overview-list-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.overview-list-mobile li {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overview-list-mobile li a{
    cursor: pointer;
    color: hsla(0,0%,100%, 0.4);
    letter-spacing: 2px;
    font-size: 0.750rem;
    font-family: 'League Spartan', sans-serif !important;
    font-weight: 700;
}
.planet-section {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.planet-image-div {
    position: relative;
    padding: 6rem 0rem;
}
.planet-image {
    height: 111px;
    width: 111px;
}
.geology-image {
    position: absolute;
    bottom: 26px;
    left: 0;
    right: 0;
    margin-inline: auto;
    height: 96px;
    width: 80px;
}
.planet-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
}
.planet-name {
    font-size: 3.3331rem;
    font-weight: normal;
    padding-bottom: 1.250rem;
}
.planet-description {
    font-size: 	0.9167em;
    color: hsla(0,0%,100%, 0.6);
    line-height: 1.8;
    font-family: 'League Spartan', sans-serif !important;
    font-weight: 400;
    padding-bottom: 2rem;
}
.source {
    font-size: 1rem;
    color: hsla(0,0%,100%, 0.3);
    letter-spacing: 1px;
    font-family: 'League Spartan', sans-serif !important;
    font-weight: 400;
}
.wiki-link {
    text-decoration: underline;
    color: hsla(0,0%,100%, 0.5);
    font-weight: 700;
}
.source-img {
    transform: translateY(2.5px);
    margin-left: 0.3rem;
}
.numbers-section {
    padding: 1.5rem;
    display: grid;
    row-gap: 1rem;
}
.numbers-info {
    padding: 0.750rem 1.250rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid hsla(0,0%,100%, 0.4);
}
.numbers-info h4 {
    color: hsla(0,0%,100%, 0.4);
    font-size: 0.6669rem;
    letter-spacing: 1px;
    font-family: 'League Spartan', sans-serif !important;
    font-weight: 700;
}
.number-info {
    color: var(--white);
    font-size: 1.6669rem;
}
.mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    background-color: var(--black);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mobile-list {
    height: 92dvh;
}
.mobile-list li {
    padding: 1.5rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsla(0,0%,59%,0.2);
}
.left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.750rem;
}
.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.mercury-circle {
    background-color: #DEF4FC;
}
.venus-circle {
    background-color: #F7CC7F;
}
.earth-circle {
    background-color: #545BFE;
}
.mars-circle {
    background-color: #FF6A45;
}
.jupiter-circle {
    background-color: #ECAD7A;
}
.saturn-circle {
    background-color: #FCCB6B;
}
.uranus-circle {
    background-color: #65F0D5;
}
.neptune-circle {
    background-color: #497EFA;
}
.menu-planet-name {
    font-size: 1.250rem;
    color: var(--white);
    letter-spacing: 3px;
    font-family: 'League Spartan', sans-serif !important;
    font-weight: 700;
}
.arrow-icon {
    margin-right: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overview {
    display: none;
}
@media(min-width:768px) {
    .hamburger-menu, .mobile-overview-section {
        display: none;
    }
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .header-menu {
        display: flex;
        gap: 2rem;
    }
    .header-menu {
        list-style: none;
    }
    .header-menu li a {
        color: hsla(0,0%,100%, 0.7);
        font-size: 	0.9169rem;
        font-family: 'League Spartan', sans-serif !important;
        font-weight: 700;
        letter-spacing: 1px;
    }
    .planet-section {
        padding: 1rem 2.5rem;
    }
    .planet-image {
        height: 184px;
        width: 184px;
    }
    .geology-image {
        bottom: 10px;
        height: 124px;
        width: 103px;
    }
    .planet-info {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        text-align:initial;
    }
    .planet-description {
        width: 348px;
    }
    .overview {
        display: block;
    }
    .overview-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
    }
    .overview-list li {
        border: 1px solid hsla(0,0%,100%, 0.3);
        display: flex;
        align-items: center;
        padding: 1rem 1.150rem;
        width: 281px;
    }
    .list-number {
        margin-right: 0.5rem;
        color: hsla(0,0%,100%, 0.4);
    }
    .overview-list li a {
        color: var(--white);
        font-family: 'League Spartan', sans-serif !important;
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 0.750rem;
    }
    .numbers-section {
        display: flex;
        justify-content: center;
        gap: clamp(1rem, 2vw, 2rem);
        padding-left: clamp(2.5rem, 5vw, 10rem);
        padding-right: clamp(2.5rem, 5vw, 10rem);
    }
    .numbers-info {
        width: 25%;
        padding: 1.250rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
    }
}
@media(min-width:1215px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
    .planet-section {
        padding: 1rem 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .planet-image-div {
        position: relative;
        padding: 14rem 0rem;
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .planet-image {
        height: 290px;
        width: 290px;
        margin-left: 10rem;
    }
    .planet-info {
        width: auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        text-align:initial;
        gap:2rem
    }
    .planet-name {
        font-size: 6.6662rem;
    }
    .planet-description {
        font-size: 1.1669rem;
        height: 300px;
    }
    .source {
        font-size: 1.1669rem;
    }
    .overview-list li {
        width: 350px;
        font-size: 1rem;
    }
    .numbers-info h4 {
        font-size: 0.9169rem;
    }
    .number-info {
        font-size: 3.3331rem;
    }
    .geology-image {
        bottom: 87px;
        left: 65px;
        margin-left: 10rem;
        height: 199px;
        width: 163px;
    }
}
@media(min-width:1440px) {
    .numbers-section {
        padding-left: 10rem;
        padding-right: 10rem;
        padding-bottom: 5rem;
    }
}

/* JS CLASSES */

.hidden {
    display: none;
}
.focused {
    position: relative;
    /* padding: 0rem 0.3rem; */
    color: var(--white) !important;
}
.focused-mercury {
    background-color: #419EBB;
    border: 1px solid #419EBB !important;
}
/* .focused a {
    color: var(--white) !important;
} */
.focused::after {
    content:'';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -17px;
    border-bottom: 3px solid var(--bluish);
}
.overflow {
    overflow: hidden;
}
.active-menu svg g{
    fill: #504f4ff6;
}